* {
    box-sizing: border-box;
}

header {
    background-image: url(./images/mockheader.jpg);
    padding: 20px;
}

h1 {
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px rgb(201, 197, 197);
    text-align: left;
}
nav, a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(10, 8, 8);
    color: aliceblue;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}

.img-two {
    background-image: url(./images/mockheader.jpg);
    padding: 15px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-align: right;
    text-shadow: 1px 1px 1px rgb(201, 197, 197);
    font-size: 200%;
}

.about-me-conatiner {
    max-width: 300px;
      max-height: 300px;
      display: flex;
    flex: 1 1 200px;
    padding: 5px;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me-conatiner, h3 {
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me-conatiner, .intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: rgb(10, 8, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}