* {
    box-sizing: border-box;
}

header {
    background-image: url(./images/mockheader.jpg);
    padding: 10px;
}

header h1 a{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px rgb(201, 197, 197);
    justify-content: left;
}

.self {
    display: flex;
    flex:1 1 200px;
    flex-wrap: wrap;
    justify-content: center;
	top:0; 
	left:0; 
}

.self img {
    border-radius: 20px 20px;
    box-shadow: 5px 0px 10px 0px rgb(65, 64, 64);
}

.navtable a, nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(10, 8, 8);
    color: aliceblue;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}

.part2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-align: right;
    text-shadow: 1px 1px 1px rgb(201, 197, 197);
    font-size: 200%;
    background-image: url(./images/mockheader.jpg);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

.about-me-container {
    max-width: 1000px;
    max-height: 300px;
    display: flex;
    flex: 1 1 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me-container, h3 {
    width: 100%;
    font-size: 150%;
    justify-content: flex-end;
}

.about-me-container p {
    width:100%;
   font-size: 18px;
   justify-content: flex-start;
   padding: 15px;
   border-style: solid;
   border-width: 0px 0px 0px 5px;
}

.work-container {
    max-width: 1000px;
    max-height: 300px;
    display: flex;
    flex: 1 1 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.work-container, h3 {
    width: 100%;
    font-size: 150%;
    justify-content: flex-end;
}

.work-container p {
    width:100%;
   font-size: 18px;
   justify-content: flex-start;
   padding: 15px;
   border-style: solid;
   border-width: 0px 0px 0px 5px;
}

.contact-container {
    max-width: 1000px;
    max-height: 300px;
    display: flex;
    flex: 1 1 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-container, h3 {
    width: 100%;
    font-size: 150%;
    justify-content: flex-end; 
}

.contact-container p {
    width:100%;
   font-size: 18px;
   justify-content: flex-start;
   padding: 15px;
   border-style: solid;
   border-width: 0px 0px 0px 5px;
}


footer {
    background-color: rgb(10, 8, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}